<div class="container">
  <div class="row">
    <% protery.each_with_index do |propery, index| %>
      <div class="card col-lg-3 col-md-4 ms-6 mt-2 rounded">
        <div id="carouselExampleControls-<%= index %>" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <% propery.images.each_with_index do |img, img_index| %>
              <div class="carousel-item <%= 'active' if img_index.zero? %>">
                <%= image_tag img, class: "card-img-top rounded d-block", style: "height: 200px;" %>
              </div>
            <% end %>
          </div>

          <% if propery.images.size > 1 %>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls-<%= index %>" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls-<%= index %>" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          <% end %>
        </div>
        
        <!-- Heart icon fixed at the top-right corner of the card -->
        <i class="bi bi-heart position-absolute top-0 fill-red end-5 text-danger p-2" style="font-size: 2rem; z-index: 10;"
        data-controller= "wishlist"
         data-action="click->wishlist#updatewishlistStatus"
         data-status="false"
          data-user-logged-in = "<%=  user_signed_in? %>"></i>

        <div class="card-body">
          <div class="row">
            <b class="col-8"><%= propery.name %></b>
            <div class="col-4"><i class="bi bi-star"></i> <%= propery.final_average.round(2).to_s %></div>
          </div>
          <div class="text-muted">Stay with Ieva Investments, · Investments</div>
          <div class="text-muted">Aug 1 – 6</div>
          <p><%= humanized_money_with_symbol(propery.price) %> night</p>
        </div>
      </div>
    <% end %>
  </div>
</div>
